# Environments
.venv/
.venv1/
.idea/

# Byte-compiled / Optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data
Images/
TestImages/
label/
Testlabel/
class/
Testclass/
csvs/
data/

# Model Files
Models/
checkpoint/
*.h5
*.keras
*.pth
New folder/

# Logs
logs/
wandb/

# Scratch / Debug scripts
scratch/
test.py
test_model_load.py
extract_nb_images.py
archive/
